<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<h1>Select the type of ad you want to publish</h1>
<ul>
    <li><a href="/users/putad">Normal</a></li>
    <li><a href="/sliding">Big Sliding Image</a></li>
    <li><a href="/video">Normal ad with 1 video</a></li>
    <li><a href="/popup">Pop up ad</a></li>
    <li><a href="/movingtext">Moving Text ad</a></li>
    <li><a href="overlay">Overlay ad</a></li>
    <li><a href="/expandable">Expandable Image ad</a></li>
</ul>

<%- include('partials/foot.ejs') %>

</body>
</html>