<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for(var i=0;i<result.length;i++){ %>
            <form action="/msg" method="POST" id="<%= user.id %>">
                <input type="hidden" name="" id="">
                <a href=""  onclick="document.getElementById('<%= user.id %>').submit();"><li><%= result[i].name %></li></a>
            </form>
        
        <% } %>
    </ul>

    <%- include('partials/foot.ejs') %>
</body>
</html>